﻿@page "/"
@using Microsoft.AspNetCore.Components.Web
@using ServerList.Metadata
@namespace ServerList.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <base href="~/"/>
    <link href="css/site.css" rel="stylesheet"/>
    <link href="css/tailwind.css" rel="stylesheet"/>

    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet"/>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>

    <component type="typeof(Metadata)" render-mode="ServerPrerendered"/>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
</head>
<body>
<component type="typeof(App)" render-mode="ServerPrerendered"/>

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script src="_framework/blazor.server.js"></script>
</body>
</html>