﻿@page "/"

<div class="flex justify-center m-4">
    <MudBreakpointProvider>
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h4">Vintage Story Server List</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText Style="max-width: 500px">Welcome to the Vintage Story Server directory!</MudText>
                <div class="m-2"></div>
                <MudText Style="max-width: 500px">
                    This website offers a filterable list of Vintage Story game Servers for avid Players and enthusiasts. Whether you're seeking the perfect environment for crafting, survival, or exploration, our platform empowers you to find your ideal Vintage Story Server with ease.
                </MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary" Target="_blank" Href="https://vintagestory.at">Find out more about the game<MudIcon Icon="@Icons.Material.Filled.OpenInNew"></MudIcon></MudButton>
            </MudCardActions>
        </MudCard>
    </MudBreakpointProvider>
</div>