@page "/list"
@using ServerList.Data
@inject GameserverService gameserverService


@if (_serverlist != null && _serverlist.Count > 0)
{
    <div class="flex justify-center gap-4 mt-4">
        <div>
            <MudBreakpointProvider>
                <MudDataGrid Breakpoint="Breakpoint.MdAndDown" RowsPerPage="50" T="Gameserver" Items="_serverlist" Filterable="true" QuickFilter="@QuickFilter" Hideable="true" Groupable="true" GroupExpanded="false">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Servers</MudText>
                        <MudSpacer/>
                        <MudTextField @bind-Value="_searchString" Placeholder="Search for Servername or mods" Adornment="Adornment.Start" Immediate="true"
                                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0">
                        </MudTextField>
                    </ToolBarContent>
                    <Columns>
                        <TemplateColumn SortBy="g => g.Players"></TemplateColumn>
                        <HierarchyColumn T="Gameserver" ButtonDisabledFunc="@(x => false)"/>
                        <PropertyColumn Property="x => x.ServerName" Title="Servername"/>
                        <PropertyColumn Property="x => x.ServerIp" Title="Address"/>

                        <MudHidden Breakpoint="Breakpoint.MdAndDown">
                            <PropertyColumn Property="x => x.HasPassword" Title="Password">
                                <CellTemplate>
                                    @if (context.Item.HasPassword)
                                    {
                                        <MudIcon Icon="@Icons.Material.Filled.Check" Color="Color.Secondary"></MudIcon>
                                    }
                                </CellTemplate>
                            </PropertyColumn>
                            <PropertyColumn Property="x => x.Whitelisted" Title="Whitelist">
                                <CellTemplate>
                                    @if (context.Item.Whitelisted)
                                    {
                                        <MudIcon Icon="@Icons.Material.Filled.Check" Color="Color.Secondary"></MudIcon>
                                    }
                                </CellTemplate>
                            </PropertyColumn>
                        </MudHidden>
                        <PropertyColumn Property="x => x.Players" InitialDirection="SortDirection.Descending" Title="Players">
                            <CellTemplate>
                                @context.Item.Players / @context.Item.MaxPlayers
                            </CellTemplate>
                        </PropertyColumn>
                        <MudHidden Breakpoint="Breakpoint.MdAndDown">
                            <PropertyColumn Property="x => x.Mods.Count" Title="Mods"/>
                            <PropertyColumn Property="x => x.Playstyle.id" Title="PlayStyle"/>
                            <PropertyColumn Property="x => x.GameVersion" Title="Version"/>
                        </MudHidden>
                        <PropertyColumn Property="x => GetModString(x.Mods)" Title="modslist" Hidden="true">
                            <FilterTemplate>

                            </FilterTemplate>
                        </PropertyColumn>
                    </Columns>
                    <ChildRowContent>
                        <MudCard>
                            <MudCardHeader>
                                <CardHeaderContent>
                                    <div class="flex flex-row">
                                        <MudTooltip Text="Join Server">
                                            <MudIconButton Icon="@Icons.Material.Filled.PlayCircle" Color="Color.Secondary" Title="Join Server" Href="@GetServerJoinUrl(context.Item.ServerIp)" Size="Size.Large"></MudIconButton>
                                        </MudTooltip>
                                        <div class="self-center">
                                            <MudText Typo="Typo.h6">@context.Item.ServerName</MudText>
                                        </div>
                                    </div>
                                    <MudIconButton Icon="@Icons.Material.Filled.Note" Color="Color.Secondary" Title="Details" Href="@GetDetailUrl(context.Item.ServerIp)" Size="Size.Large"></MudIconButton>
                                </CardHeaderContent>
                            </MudCardHeader>
                            <div class="ml-6  w-fit">
                                <MudCardContent>
                                    <div class="pb-4 grid grid-cols-4">
                                        <div class="flex flex-row pl-4">
                                            <MudText Typo="Typo.body1" Align="Align.Center">IP-Address:</MudText>
                                            <MudText class="pl-4">@context.Item.ServerIp</MudText>
                                        </div>
                                        <div class="flex flex-row pl-4">
                                            <MudText Typo="Typo.body1" Align="Align.Center">Whitelist:</MudText>
                                            <MudText class="pl-4">@context.Item.Whitelisted</MudText>
                                        </div>
                                        <div class="flex flex-row pl-4">
                                            <MudText Typo="Typo.body1" Align="Align.Center">Password:</MudText>
                                            <MudText class="pl-4">@context.Item.Whitelisted</MudText>
                                        </div>
                                        <div class="flex flex-row pl-4">
                                            <MudText Typo="Typo.body1" Align="Align.Center">Whitelist:</MudText>
                                            <MudText class="pl-4">@context.Item.HasPassword</MudText>
                                        </div>
                                        <div class="flex flex-row pl-4">
                                            <MudText Typo="Typo.body1" Align="Align.Center">Max Player:</MudText>
                                            <MudText class="pl-4">@context.Item.MaxPlayers</MudText>
                                        </div>
                                        <div class="flex flex-row pl-4">
                                            <MudText Typo="Typo.body1" Align="Align.Center">Game Version:</MudText>
                                            <MudText class="pl-4">@context.Item.GameVersion</MudText>
                                        </div>
                                        <div class="flex flex-row pl-4">
                                            <MudText Typo="Typo.body1" Align="Align.Center">Playstyle:</MudText>
                                            <MudText class="pl-4">@context.Item.Playstyle.langCode</MudText>
                                        </div>
                                    </div>
                                    <MudText Typo="Typo.h6">Description:</MudText>

                                    <div class="pl-4 py-2  max-w-7xl">
                                        <MudText Typo="Typo.body1">@context.Item.GameDescription</MudText>
                                        @* <MudElement>@context.Item.gameDescription.Replace("<br>","\n")</MudElement> *@
                                    </div>

                                    <MudText Typo="Typo.h6">Mods:</MudText>
                                    <div class="pl-4 grid grid-cols-4">
                                        @foreach (var mod in context.Item.Mods)
                                        {
                                            <div class="flex flex-row pl-4 pt-1 border-l-2">
                                                <div class="w-56">
                                                    <MudText>@mod.id</MudText>
                                                </div>
                                                <div class="w-28 self-end">
                                                    <MudText>@mod.version</MudText>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </MudCardContent>
                            </div>
                        </MudCard>
                    </ChildRowContent>
                    <PagerContent>
                        <MudDataGridPager PageSizeOptions="new[] { 10, 25, 50, 100, 200, 500, 1000, 2000 }" T="Gameserver"/>
                    </PagerContent>
                </MudDataGrid>
            </MudBreakpointProvider>
        </div>
    </div>
}
else
{
    <div class="flex justify-center mt-8 self-center">
        <MudProgressCircular Color="Color.Primary" Indeterminate="true"/>
    </div>
}

@code {
    private string _searchString = string.Empty;
    private List<Gameserver>? _serverlist;

    protected override async Task OnInitializedAsync()
    {
        _serverlist = await gameserverService.GetGameServerList();
        StateHasChanged();
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        // Hack to make initial sorting on players work
        if (firstRender)
        {
            StateHasChanged();
        }

        return base.OnAfterRenderAsync(firstRender);
    }

    private bool QuickFilter(Gameserver x)
    {
        if (string.IsNullOrWhiteSpace(_searchString))
            return true;

        if (x.ServerName.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        return x.Mods.Any(m => m.id.Contains(_searchString, StringComparison.OrdinalIgnoreCase));
    }

    private static string GetServerJoinUrl(string ip) => $"vintagestoryjoin://{ip}";
    private static string GetDetailUrl(string ip) => $"/serverdetail?ip={ip}";
    private static string GetModString(List<Mod> mods) => string.Join(",", mods.Select(m => m.id));

}