@page "/serverdetail"
@inject DatabaseContext Database
@using System.Text.Json
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.EntityFrameworkCore
@using MudBlazor.Components.Chart.Models
@using ServerList.Data
@inject NavigationManager NavigationManager


<div class="flex justify-center gap-4 mt-4">
    @if (_server == null)
    {
        <H1>No Server found with ip: @ServerIp</H1>
    }
    else
    {
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <div class="flex flex-row">
                        <MudTooltip Text="Join Server">
                            <MudIconButton Icon="@Icons.Material.Filled.PlayCircle" Color="Color.Secondary" Title="Join Server" Href="@GetServerJoinUrl(_server.ServerIp)" Size="Size.Large"></MudIconButton>
                        </MudTooltip>
                        <div class="self-center">
                            <MudText Typo="Typo.h6">@_server.ServerName</MudText>
                        </div>
                    </div>
                </CardHeaderContent>
            </MudCardHeader>
            <div class="ml-6 w-fit">
                <MudCardContent>

                    <div class="pb-4 grid grid-cols-4">
                        <div class="flex flex-row pl-4">
                            <MudText Typo="Typo.body1" Align="Align.Center">Whitelist:</MudText>
                            <MudText class="pl-4">@_server.Whitelisted</MudText>
                        </div>
                        <div class="flex flex-row pl-4">
                            <MudText Typo="Typo.body1" Align="Align.Center">Password:</MudText>
                            <MudText class="pl-4">@_server.Whitelisted</MudText>
                        </div>
                        <div class="flex flex-row pl-4">
                            <MudText Typo="Typo.body1" Align="Align.Center">Whitelist:</MudText>
                            <MudText class="pl-4">@_server.HasPassword</MudText>
                        </div>
                        <div class="flex flex-row pl-4">
                            <MudText Typo="Typo.body1" Align="Align.Center">Max Player:</MudText>
                            <MudText class="pl-4">@_server.MaxPlayers</MudText>
                        </div>
                        <div class="flex flex-row pl-4">
                            <MudText Typo="Typo.body1" Align="Align.Center">Game Version:</MudText>
                            <MudText class="pl-4">@_server.GameVersion</MudText>
                        </div>
                        <div class="flex flex-row pl-4">
                            <MudText Typo="Typo.body1" Align="Align.Center">Playstyle:</MudText>
                            <MudText class="pl-4">@_server.PlayStyle</MudText>
                        </div>
                    </div>
                    <MudText Typo="Typo.h6">Description:</MudText>
                    <div class="pl-4 py-2  max-w-7xl">
                        <MudText Typo="Typo.body1">@_server.GameDescription</MudText>
                    </div>

                    <MudText Typo="Typo.h6">Mods:</MudText>
                    <div class="pl-4 grid grid-cols-4">
                        @foreach (var mod in Mods)
                        {
                            <div class="flex flex-row pl-4 pt-1 border-l-2">
                                <div class="w-56">
                                    <MudText>@mod.id</MudText>
                                </div>
                                <div class="w-28 self-end">
                                    <MudText>@mod.version</MudText>
                                </div>
                            </div>
                        }
                    </div>
                </MudCardContent>
                <div class="p-8">
                    <div class="flex flex-row">
                        <div class="flex-none w-48">
                        </div>

                        <div class="self-end w-14">
                            <MudText Typo="Typo.h5">Players:</MudText>
                        </div>

                        <div class="flex-1">
                        </div>

                        <div class="flex-none mr-[6rem]">
                            <MudItem xs="6">
                                <MudText>Last Hours:</MudText>
                                <MudNumericField Min="1" Max="450" Color="Color.Info" Variant="Variant.Outlined"
                                                 ValueChanged="TimeChanged" T="int" Value="Time">
                                    Line Width: @Time
                                </MudNumericField>
                            </MudItem>
                        </div>
                    </div>
                    <MudTimeSeriesChart ChartSeries="@_series" Width="100%" Height="450px"
                                        ChartOptions="@_options"
                                        TimeLabelSpacing="TimeSpaceing"/>
                </div>
            </div>
        </MudCard>
    }
</div>

@code {
    public string ServerIp { get; set; }
    private int Time = 4;
    private GameServerDb? _server;
    private List<Mod> Mods;
    private List<TimeSeriesChartSeries> _series = new();
    public TimeSpan TimeSpaceing = TimeSpan.FromMinutes(15);

    private ChartOptions _options = new ChartOptions
    {
        YAxisTicks = 10,
        MaxNumYAxisTicks = 10,
        YAxisRequireZeroPoint = true,
        XAxisLines = true,
        LineStrokeWidth = 2,
        ShowLegend = false
    };

    protected override Task OnInitializedAsync()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("ip", out var ip))
        {
            ServerIp = Convert.ToString(ip);
        }

        _server = Database.Gameserver.Include(g => g.Status).Single(s => s.ServerIp == ServerIp);
        Mods = JsonSerializer.Deserialize<List<Mod>>(_server.Mods) ?? new List<Mod>();
        _options.MaxNumYAxisTicks = _server.MaxPlayers;
        UpdateTimeSeries();
        StateHasChanged();
        return Task.CompletedTask;
    }

    private void UpdateTimeSeries()
    {
        var time = DateTime.UtcNow - TimeSpan.FromHours(Time);
        var gameServerStatusDbs = _server.Status.Where(s => s.Timestamp > time);
        var series = new TimeSeriesChartSeries
        {
            Data = gameServerStatusDbs.Select(x => new TimeSeriesChartSeries.TimeValue(x.Timestamp, x.Players)).ToList(),
            Type = TimeSeriesDiplayType.Line
        };
        if (series.Data.Count == 0)
        {
            series.Data.Add(new(DateTime.Now, 0));
        }
        _series.Clear();
        _series.Add(series);
    }

    private static string GetServerJoinUrl(string ip) => $"vintagestoryjoin://{ip}";

    private void TimeChanged(int time)
    {
        Time = time;
        TimeSpaceing = TimeSpan.FromMinutes(15 * Math.Clamp(Time - 3, 1, 96));
        UpdateTimeSeries();
    }

}