@page "/stats"
@using ServerList.Data
@using Semver
@inject GameserverService gameserverService

@if (_versions.Count > 1)
{
    <MudBreakpointProvider>
        <MudGrid Class="flex justify-center gap-4 mt-4" >
                <MudSimpleTable Dense="true" Bordered="true" Style="width: fit-content;">
                    <thead>
                    <tr>
                        <th>Version</th>
                        <th>Count</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var version in _versions)
                    {
                        <tr>
                            <td class="w-32">
                                @version.Key
                            </td>
                            <td class="w-16" style="text-align: center">
                                @version.Value
                            </td>
                        </tr>
                    }
                    </tbody>
                </MudSimpleTable>
                <MudPaper Class="pa-4" Style="height: max-content">
                    <MudChart LegendPosition="Position.Left" ChartType="ChartType.Donut" Width="300px" Height="300px" InputData="@_data" InputLabels="@_labels" @bind-SelectedIndex="_index"></MudChart>
                    <div class="text-center">
                        <MudText Typo="Typo.h6">@_data[_index]</MudText>
                    </div>
                </MudPaper>
                <MudDataGrid T="KeyValuePair<string, int>" Items="@_mods" Filterable="true" QuickFilter="@QuickFilter" Hideable="true" Groupable="true" GroupExpanded="false" Style="height: max-content">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Mods used on Servers</MudText>
                        <MudSpacer/>
                        <MudTextField @bind-Value="_searchString" Placeholder="Search for mod" Adornment="Adornment.Start" Immediate="true"
                                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0">
                        </MudTextField>
                    </ToolBarContent>
                    <Columns>
                        <PropertyColumn Property="x => x.Key" Title="Mod"/>
                        <PropertyColumn Property="x => x.Value" Title="Used by"/>
                    </Columns>
                    <PagerContent>
                        <MudDataGridPager T="KeyValuePair<string, int>"/>
                    </PagerContent>
                </MudDataGrid>
        </MudGrid>
    </MudBreakpointProvider>
}
else
{
    <div class="flex justify-center mt-8 self-center">
        <MudProgressCircular Color="Color.Primary" Indeterminate="true"/>
    </div>
}


@code {
    private string _searchString = string.Empty;
    private int _index;
    private List<Gameserver>? _servers;
    private double[]? _data;
    private string[]? _labels;
    private Dictionary<string, double> _versions = new();
    private Dictionary<string, int> _mods = new();

    protected override async Task OnInitializedAsync()
    {
        _servers = await gameserverService.GetGameServerList();
        _versions = _servers.GroupBy(g => g.GameVersion)
            .Select(group => new { Version = group.Key, Count = group.Count() })
            .OrderByDescending(v => v.Version).ToDictionary(pair => pair.Version.ToString(), pair => (double)pair.Count);

        var allMods = _servers.SelectMany(server => server.Mods);

        _mods = allMods
            .GroupBy(mod => mod.id)
            .Select(group => new { ModId = group.Key, Count = group.Count() })
            .OrderByDescending(x => x.Count)
            .ToDictionary(pair => pair.ModId, pair => pair.Count);

        var chartData = _versions.Where(v => v.Value > 10).ToDictionary(pair => pair.Key, pair => pair.Value);

        _data = chartData.Values.ToArray();
        _labels = chartData.Keys.ToArray();

        Array.Sort(_labels, CompareVersion);

        _versions.Add("", _servers.Count);
        StateHasChanged();
    }

    private static int CompareVersion(string x, string y)
    {
        var v1 = SemVersion.Parse(x, SemVersionStyles.Any);
        var v2 = SemVersion.Parse(y, SemVersionStyles.Any);
        return v2.CompareSortOrderTo(v1);
    }

    private bool QuickFilter(KeyValuePair<string, int> x)
    {
        if (string.IsNullOrWhiteSpace(_searchString))
            return true;

        if (x.Key.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }

}