@using ServerList.Data

<tr style="height: 35px">
    <td class="pl-2">
        @Server.ServerName
    </td>
    <td>
        <div class="flex flex-row justify-between">
            <div class="">
                @Server.ServerIp
            </div>
            <div class="pr-5">
                <a href="vintagestoryjoin://@Server.ServerIp">
                    <MudIcon Icon="@Icons.Material.Filled.PlayCircle" Title="Join Server"/>
                </a>
            </div>
        </div>
    </td>
    <td class="text-center">
        @Server.Players / @Server.MaxPlayers
    </td>
    <td class="text-center">
        @Server.Mods.Count
    </td>
    
    <td class="text-center">
        @Server.Playstyle.id
    </td>
    
    <td class="text-center">
        @if (Server.Whitelisted)
        {
            <MudIcon Icon="@Icons.Material.Filled.Check" Title="Check" />
        }
    </td>
    <td class="text-center">
        @if (Server.HasPassword)
        {
            <MudIcon Icon="@Icons.Material.Filled.Check" Title="Check" />
        }
    </td>
    <td class="text-center">
        @Server.GameVersion
    </td>
</tr>

@code {

    [Parameter]
    public Gameserver Server { get; set; }
}