﻿@using MudBlazor.Utilities
@inherits LayoutComponentBase


<MudThemeProvider @ref="@_mudThemeProvider" @bind-IsDarkMode="@_isDarkMode" Theme="@_vintageStory"/>
<MudPopoverProvider/>
<MudBreakpointProvider>
    <MudAppBar Color="Color.Primary" Fixed="false">
        <MudIconButton Icon="@Icons.Material.Filled.Home" Size="Size.Large" Color="Color.Secondary" Href="/"/>
        <div class="m-2"></div>
        <MudButton Variant="Variant.Filled" Color="Color.Secondary" Href="list">Servers</MudButton>
        <div class="m-2"></div>
        <MudButton Variant="Variant.Filled" Color="Color.Secondary" Href="stats">Stats</MudButton>
        <MudSpacer/>
        <MudButton Variant="Variant.Filled" Color="Color.Secondary" Target="_blank" Href="https://www.vintagestory.at/store/category/1-game-account-game-Servers/">
            Get Vintage Story
            <MudIcon Icon="@Icons.Material.Filled.OpenInNew"></MudIcon>
        </MudButton>
        <div class="m-2"></div>
        <MudIconButton Icon="@GitLabIcon" Size="Size.Large" Color="Color.Inherit" Href="https://gitlab.com/th3dilli_vintagestory/Serverlist" Target="_blank"/>
    </MudAppBar>
</MudBreakpointProvider>
<main> @Body </main>

@code {
    private const string GitLabIcon = "\n<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"95 90 200 200\"><defs><style>.cls-1{fill:#e24329;}.cls-2{fill:#fc6d26;}.cls-3{fill:#fca326;}</style></defs><g id=\"LOGO\"><path class=\"cls-1\" d=\"M282.83,170.73l-.27-.69-26.14-68.22a6.81,6.81,0,0,0-2.69-3.24,7,7,0,0,0-8,.43,7,7,0,0,0-2.32,3.52l-17.65,54H154.29l-17.65-54A6.86,6.86,0,0,0,134.32,99a7,7,0,0,0-8-.43,6.87,6.87,0,0,0-2.69,3.24L97.44,170l-.26.69a48.54,48.54,0,0,0,16.1,56.1l.09.07.24.17,39.82,29.82,19.7,14.91,12,9.06a8.07,8.07,0,0,0,9.76,0l12-9.06,19.7-14.91,40.06-30,.1-.08A48.56,48.56,0,0,0,282.83,170.73Z\"/><path class=\"cls-2\" d=\"M282.83,170.73l-.27-.69a88.3,88.3,0,0,0-35.15,15.8L190,229.25c19.55,14.79,36.57,27.64,36.57,27.64l40.06-30,.1-.08A48.56,48.56,0,0,0,282.83,170.73Z\"/><path class=\"cls-3\" d=\"M153.43,256.89l19.7,14.91,12,9.06a8.07,8.07,0,0,0,9.76,0l12-9.06,19.7-14.91S209.55,244,190,229.25C170.45,244,153.43,256.89,153.43,256.89Z\"/><path class=\"cls-2\" d=\"M132.58,185.84A88.19,88.19,0,0,0,97.44,170l-.26.69a48.54,48.54,0,0,0,16.1,56.1l.09.07.24.17,39.82,29.82s17-12.85,36.57-27.64Z\"/></g></svg>";
    private bool _isDarkMode;
    private MudThemeProvider _mudThemeProvider;

    readonly MudTheme _vintageStory = new()
    {
        PaletteLight = new PaletteLight
        {
            Primary = new MudColor(147, 105, 40, 255),
            Secondary = new MudColor(213, 165, 98, 255),
            Background = new MudColor(245, 230, 198, 255),
            Surface = new MudColor(253, 249, 240, 255),
        },
        PaletteDark = new PaletteDark
        {
            Primary = new MudColor(147, 105, 40, 255),
            Secondary = new MudColor(213, 165, 98, 255),
            Background = new MudColor(98, 76, 26, 255),
            Surface = new MudColor(64, 53, 29, 255)
        }
    };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _isDarkMode = await _mudThemeProvider.GetSystemPreference();
            StateHasChanged();
        }
    }

}